*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    padding: 0;
    margin: 0;
    
    background-size: cover;
    font-family: "open sans";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: montserrat;
    font-size: 16px;
  background: linear-gradient(-45deg,#2c3e50,#3498db,#7b4397,#dc2430,#fcb045);
  background-size: 400% 400%;
	-webkit-animation: gradient 5s ease infinite;
	        animation: gradient 5s ease infinite;

  }

  @-webkit-keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  nav{
    background: #0f2453;
    height: 70px;
    width: 100%;
  }
  label i{
      margin-right: 15px;
  }
  label.logo{
    color: rgb(78, 234, 245);
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #77b3e0;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: rgb(78, 234, 245);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

  



/* Fix our parallax elements in position */
.parallax {
	position: absolute;
	}


h1 {
	top: 80px;
	margin-top: -3rem;
	z-index: 5;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: azure;
}

.box {
	top: 650px;
  /* Positive margin, so it appears from above */
	margin-top: 29rem;
  /* Center and pad */
  left: 50%;
  margin-left: -27%;
	padding: 2%;
	width: 60%;
  color: #1c3e8a;
  height: 500px;
  background-color: rgb(252, 243, 243);
z-index: 9999;
border-radius: 20px;
font-size: 18px;
position: relative;

}



.skyline {
	top: 230px;
	margin-top: -28rem;
	left: 8%;
  width: 260px;
  height: 260px;
}

.blimp {
	top: 340px;
	margin-top: -55rem;
	left: 24%;
  width: 265px;
  height: 260px;

}

.gherkin {
	top: 200px;
	margin-top: -20rem;
	left: 40%;
	z-index: 10;
  width: 265px;
  height: 260px;

}

.bull {
	top: 360px;
	margin-top: -47rem;
	left: 56%;
  width: 265px;
  height: 260px;

}

.dino {
	top: 220px;
	margin-top: -33rem;
	left: 72%;
  width: 265px;
  height: 260px;

}


/**
 * Demo aesthetics
 */

html {
	/* background-attachment: fixed; */
	background-size: cover;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.5;
	color: rgb(41, 38, 224);
  height: 2500px;
  font-size: 0;
	
}


@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');



h1.parallax {
  width: 100%;
  font: 3em/1 'Oswald', sans-serif;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}

p {
  margin: 0 0 1.5em;
}

p:last-child {
  margin-bottom: 0;
}

img {
	width: 20%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#sec{
  position: relative;
  
}
.midtext{
  position: absolute;
  height: 100px;
  top: 195%;
  left: 50%;
  margin-left: -27%;
  padding: 2%;
  width: 50%;  
  text-align: center;
  background-color: #29c4cf;
  font-size: x-large;
  color: #490d97;
  
}
.mid{
  margin: 5px;
  margin-top: 10px;
  height: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  
}
.search-box{
  position: absolute;
  top: 220%;
  left: 50%;
  
  transform: translate(-50%,-50%);
  background: #402f37;
  height: 60px;
  border: #ec666f solid;
  border-radius: 40px ;
  padding: 10px;
}

.search-box:hover > .search-txt{
  width: 340px;
  padding: 0 6px ;
}
.search-box:hover > .search-btn{

background-color: #eceef1; 

}
.search-btn{
  color: rgb(233, 36, 36);
  border: #dc2430;
  float: right;
  padding-top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #402f37;
  
  display: flex;
  justify-content: center;
  align-items: center;

}
.search-txt{
  border: none;
  outline: none;
  background: none;
  
  padding: 0;
  color:  #bfc7d1;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0;
}

.main{
  position: absolute;
  top: 230%;
  left: 50px !important;
  right: 40px !important;
  max-width: 1800px;
  display: grid;
  height: 900px;
  margin:  auto;
  grid-gap: 1%;
}
.card_image img {
  
    vertical-align: middle;
    transform-origin: 50% 65%;
  transition: transform 3s, filter 2s ease-in-out;
  filter: brightness(100%);
}
.card_image:hover img{
  filter: brightness(100%);
  transform: scale(2);
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 0px;
  
}

 .cards_item {
  display: flex;
  padding: 15rem;
  margin: 5px;
  width: 30%;
}

.card {
  background: none;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 5rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

 h2 .card_title {
  
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  
}
h2{
  font-size: 25px;
  color: #f83f11;
  margin-top: 10px;
  font-weight: 500;
}

p .card_text {
  color: #e22c2c;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom:0.25rem !important;    
  font-weight: 300;
  height: 60px;
}
.made_by{
  position: absolute;
  top: 410%;
  bottom: 0%;
  font-weight: 500;
  font-size: 33px;
  margin-top: 35px;
  right: 45% !important;
  text-align: center;
}


  @media (max-width: 952px){
    label.logo{
      font-size: 18px;
      padding-left: 30px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    nav ul{
      position: fixed;
      width: 100%;
      height: 50vh;
      background: #2c3e50;
      top: 70px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      z-index: 9999;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
    .contact{
      display: inline;

      }
      .content{
        display: flex;
        margin: 0;
        font-size: 13px;
        margin-left: 32%;
        text-align: center;
        
      }
      .box{
        height: 550px;
      }
      .skyline {
        top: 210px;
        margin-top: -28rem;
        left: 5%;
        width: 165px;
        height: 160px;
      }
      
      .blimp {
        top: 340px;
        margin-top: -55rem;
        left: 24%;
        width: 165px;
        height: 160px;
      
      }
      
      .gherkin {
        top: 200px;
        margin-top: -20rem;
        left: 40%;
        z-index: 10;
        width: 165px;
        height: 160px;
      
      }
      
      .bull {
        top: 340px;
        margin-top: -47rem;
        left: 56%;
        width: 165px;
        height: 160px;
      
      }
      
      .dino {
        top: 220px;
        margin-top: -33rem;
        left: 72%;
        width: 165px;
        height: 160px;
      
      }
      
      .main{
        top: 250%;
      }
      .cards_item {
        width: 40%;
      }

 .rem{
   display: none;
 }



      .midtext{
        top: 215%;
        
        
      }
      .search-box{
        top: 240%;
        
      }
      .search-box:hover > .search-txt{
        width: 180px;
        padding: 0 6px ;
      }
      .made_by{
        top: 530%;
      }
    
  }
